
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 20px;
}
h1{
    display: inline-block;
    box-shadow: 4px 4px 10px rgba(255,165,0,0.6),
                -4px -4px 10px rgba(0,128,0,0.6);
    padding: 12px 25px;
    border-radius: 12px;
    background-color: white;
}

h1:hover{
    transform: scale(1.05);
    box-shadow: 6px 6px 15px rgba(255,165,0,0.8),
                -6px -6px 15px rgba(0,128,0,0.8);
}

.h11{
    text-align: center;
    margin-bottom: 40px;
}
.homeimage{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

iframe{
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    max-width: 100%;
}
.desc, .desc1{
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.desc{
    background-color: rgb(246, 200, 115);
    color: darkgreen;
}

.desc1{
    background-color: rgb(249, 153, 153);
    color: rgb(76, 14, 16);
}
ol{
    margin-left: 25px;
    margin-top: 10px;
}

ol li{
    margin-bottom: 8px;
    font-weight: 500;
}


.mapcontainer{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.maps{
    width: 350px;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.maps:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

.mapimage img{
    margin-top: 15px;
    height: 250px;
    width: 100%;

    border-radius: 15px;
}
.maps h3{
    margin: 15px 0 10px;
    font-size: 20px;
}
.maps p{
    font-size: 14px;
    color: #333;
    padding: 0 10px 10px;
}
